<div class="container">
  <section class="">
    <h1> Intro</h1>
  </section>
  <section class="search-section">
    <input type="text" placeholder="Input" />
    <button class="primary" type="button">Analyze</button>
  </section>
  <section class="results">
    <!-- TODO: Add loading display -->
    <!-- <div *ngIf="loading">Loading...</div> -->
    <!-- <app-feedback *ngIf="!loading" [feedback]="modelOutput"></app-feedback> -->
    <app-feedback [feedback]="modelOutput"></app-feedback>
  </section>
</div>