<div class="container">
  <section class="">
    <h1> Intro</h1>
  </section>
  <section class="search-section">
    <!-- For Debug: Bind the update Function so that interactive input is logged in console -->
    <!-- <input type="text" placeholder="User Comment" [(ngModel)]="userInput" (keyup)="updateInput()"/> -->
    <input type="text" placeholder="Please type user comment here." [(ngModel)]="userInput.comment"/>
    <button class="primary" type="button" (click)="submitAction()">Analyze</button>
  </section>
  <section class="results">
    <!-- TODO: Add loading display -->
    <!-- <div *ngIf="loading">Loading...</div> -->
    <!-- <app-feedback *ngIf="!loading" [feedback]="modelOutput"></app-feedback> -->
    <app-feedback [feedback]="modelOutput"></app-feedback>
  </section>
</div>